# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8-bom

[*.cs]
dotnet_style_namespace_match_folder = false
dotnet_diagnostic.IDE0130.severity = none

dotnet_diagnostic.UNT0008.severity = none